Number of Reviews posted by each user on a particular date

In [26]:
import pandas as pd
df = pd.read_csv('btp.csv')
df['date'] = pd.to_datetime(df['date'])
user_date_review_counts = df.groupby(['user_id', 'date'])['review_id'].count().reset_index()
user_date_review_counts.columns = ['user_id', 'date', 'num_reviews']
print(user_date_review_counts)

                      user_id       date  num_reviews
0      ---2PmXbF47D870stH1jqA 2014-07-10            1
1      ---2PmXbF47D870stH1jqA 2014-10-28            1
2      ---2PmXbF47D870stH1jqA 2015-06-27            1
3      --3WaS23LcIXtxyFULJHTA 2015-10-02            1
4      --6PFZka7og6Khaw6oyjvQ 2015-05-30            1
...                       ...        ...          ...
95681  zziJLt25YU6dp01sewR-IQ 2010-11-25            1
95682  zziJLt25YU6dp01sewR-IQ 2012-02-10            1
95683  zziJLt25YU6dp01sewR-IQ 2012-10-29            1
95684  zziJLt25YU6dp01sewR-IQ 2012-11-01            1
95685  zziJLt25YU6dp01sewR-IQ 2012-11-04            1

[95686 rows x 3 columns]

In [27]:
df['date'] = pd.to_datetime(df['date'])
user_date_review_counts = df.groupby(['user_id', 'date'])['review_id'].count().reset_index()
user_date_review_counts.columns = ['user_id', 'date', 'num_reviews']
users_with_more_than_5_reviews = user_date_review_counts[user_date_review_counts['num_reviews'] > 5]
print(users_with_more_than_5_reviews)

                      user_id       date  num_reviews
8080   4F59l8scDgg6BQx0HGRtcQ 2015-01-03            6
14484  8O5tGAz_LFuX3JTim7Egyg 2011-03-03            8
14528  8RcEwGrFIgkt9WQ35E6SnQ 2016-08-19            9
17483  AW2cimP0kAlKiNs4iEwa7A 2013-02-22            6
19717  BrH27yHhgDEylDZfFdJvSQ 2009-03-28            6
20902  Cf8Jw9yX8RrG-l4PQoMkuw 2012-02-26            8
28347  Hn8O2RQijYIVLFNF5VPWTA 2011-01-04           10
34220  LlLNWV5FmKvjOj0p5qGYeg 2010-05-23            6
36539  NUtIAX-ygn474tDg5nmesg 2015-02-16            7
39465  PUj5BTAscm67FZQkqe2qwQ 2015-09-13            6
53928  YzckMAdpT00nnHutGtTWEQ 2014-02-05            7
55490  _4Wn2zRkrmDfowBrNcji0Q 2013-06-02            6
58246  amIUTkKQlA4464-lJlwlaQ 2013-03-20            6
58917  bJQgJdeqvE7njsTZomhaoQ 2016-07-12            6
76121  n-lBS02-3yvlY5Q91mmwDA 2005-07-10           11
77340  nnwBdqGHIAJQ5QX9lHOtrQ 2009-01-27            9
84158  sLqm9fRo_u81kJCIRdzrMg 2008-05-24           11
87278  uZzs_KFzSDFjpyVLyl7Pqg 2010-06-29            8
92058  xjQSpme1Z7Xw8XehRLpYuA 2012-06-26            6
94000  yyxEa8y4HGij_m7g1wDKWg 2015-04-10            6

Total Reviews on each date

In [36]:
filtered_reviews = total_reviews_by_date['total_reviews']

# Display the result
print(filtered_reviews)

0       1
1       2
2       1
3       1
4       2
       ..
5430    1
5431    1
5432    1
5433    1
5434    1
Name: total_reviews, Length: 5435, dtype: int64

Less than 60 seconds time difference reviews

In [37]:
import pandas as pd
df['date'] = pd.to_datetime(df['date'])
df['time'] = pd.to_datetime(df['time'])
df.sort_values(by=['user_id', 'date', 'time'], inplace=True)
df['time_diff'] = df.groupby(['user_id', 'date'])['time'].diff()
user_date_review_counts = df.groupby(['user_id', 'date'])['review_id'].count().reset_index()
user_date_review_counts.columns = ['user_id', 'date', 'num_reviews']
users_with_more_than_1_review = user_date_review_counts[user_date_review_counts['num_reviews'] > 1]
print(users_with_more_than_1_review[['user_id', 'date', 'num_reviews']])
filtered_rows = df.loc[(df['user_id'].isin(users_with_more_than_1_review['user_id'])) & (df['time_diff'] < pd.Timedelta('60 seconds'))]
print(filtered_rows[['user_id', 'date', 'time_diff']])

C:\Users\pc\AppData\Local\Temp\ipykernel_8028\2336372979.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['time'] = pd.to_datetime(df['time'])

                      user_id       date  num_reviews
36     -0vutwuE36iYMqM2wHaStQ 2009-03-12            2
41     -13RX4Gy_F-zoLIenWAo-w 2007-04-20            2
45     -2TJaAdxSGnTyy9qGr1z1Q 2011-04-08            2
49     -2Vg22LqKpg0zjf5A-SWLA 2015-01-23            2
62     -2nNiAnDaSbQayynsqgL6Q 2011-09-20            2
...                       ...        ...          ...
95614  zwPKdviIT_C4CD2ZL_nJyQ 2012-06-19            2
95621  zx4c7K-1eBSvEmUg7zqiZQ 2011-03-09            2
95631  zxeXnjqmlrAspfk17LSZCg 2011-03-20            3
95639  zxuxd6Hz2tKcpgZ71dYEcw 2014-04-03            2
95654  zyNrXvJyYdC34tS6BcCykA 2009-11-17            3

[6503 rows x 3 columns]
                      user_id       date       time_diff
43095  -NMGRUbMdKZ7acHGWKvy8Q 2010-09-07 0 days 00:00:34
90140  -hq6dkvt907T0MPJK9Qaig 2013-04-16 0 days 00:00:29
96233  0Cl_C3VvG88g-Hussui3_Q 2014-06-28 0 days 00:00:32
28479  0EQlpgEQVTxCeKd7CbetdQ 2010-12-15 0 days 00:00:59
27996  0d1Qa6dckkZ9UTK_1_eNTw 2012-10-14 0 days 00:00:42
...                       ...        ...             ...
88667  xl2Lspp8Ltqy_qTVMNja_g 2011-01-06 0 days 00:00:45
14639  xyFtRXaTjhStZB3Zb9uFvA 2008-01-16 0 days 00:00:52
18950  yoa61s3IdHwi8q5_gLvzaw 2012-10-25 0 days 00:00:51
28270  yx8wkvWdCH-eN6PHWKT7Wg 2014-02-19 0 days 00:00:55
62539  zxeXnjqmlrAspfk17LSZCg 2011-03-20 0 days 00:00:54

[148 rows x 3 columns]

Less than 5 seconds time differnce reviews

In [38]:
import pandas as pd
df['date'] = pd.to_datetime(df['date'])
df['time'] = pd.to_datetime(df['time'])
df.sort_values(by=['user_id', 'date', 'time'], inplace=True)
df['time_diff'] = df.groupby(['user_id', 'date'])['time'].diff()
user_date_review_counts = df.groupby(['user_id', 'date'])['review_id'].count().reset_index()
user_date_review_counts.columns = ['user_id', 'date', 'num_reviews']
users_with_more_than_1_review = user_date_review_counts[user_date_review_counts['num_reviews'] > 1]
print(users_with_more_than_1_review[['user_id', 'date', 'num_reviews']])
filtered_rows = df.loc[(df['user_id'].isin(users_with_more_than_1_review['user_id'])) & (df['time_diff'] < pd.Timedelta('5 seconds'))]
print(filtered_rows[['user_id', 'date', 'time_diff']])

                      user_id       date  num_reviews
36     -0vutwuE36iYMqM2wHaStQ 2009-03-12            2
41     -13RX4Gy_F-zoLIenWAo-w 2007-04-20            2
45     -2TJaAdxSGnTyy9qGr1z1Q 2011-04-08            2
49     -2Vg22LqKpg0zjf5A-SWLA 2015-01-23            2
62     -2nNiAnDaSbQayynsqgL6Q 2011-09-20            2
...                       ...        ...          ...
95614  zwPKdviIT_C4CD2ZL_nJyQ 2012-06-19            2
95621  zx4c7K-1eBSvEmUg7zqiZQ 2011-03-09            2
95631  zxeXnjqmlrAspfk17LSZCg 2011-03-20            3
95639  zxuxd6Hz2tKcpgZ71dYEcw 2014-04-03            2
95654  zyNrXvJyYdC34tS6BcCykA 2009-11-17            3

[6503 rows x 3 columns]
                      user_id       date       time_diff
80156  FjOKTsuKtdoLhz3CWsuEPQ 2012-02-01 0 days 00:00:00
80859  O8v43MR97f2vz_v2br8mNg 2011-01-30 0 days 00:00:01
85684  WJpWp-3zZ3iuwEYCGGf0yA 2012-03-15 0 days 00:00:00
56117  YEiJOtOBBRKEpRuvZNA9Cg 2011-07-11 0 days 00:00:01
77914  cKRiEclULFf4TczO1-tf3A 2012-06-18 0 days 00:00:01
79976  d8FwfuFM9SJA3kU_cIQ3aw 2015-05-17 0 days 00:00:04
27330  esMNMMH7BKkiJd91fvO-FA 2011-08-16 0 days 00:00:03
65556  u8tyDjEaANLSOZ4MTKfhhg 2012-07-06 0 days 00:00:01

In [14]:
attributes = df.columns
print(attributes)

Index(['_id', 'user_id', 'name', 'review_count', 'useful', 'review_id',
       'stars', 'useful_review', 'text', 'date', 'time'],
      dtype='object')